 /*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/
 body {
   background-color: #fff;
   font-size: 16px;
   color: #434455;
   font-family: 'Roboto', sans-serif;
   line-height: 1.5;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
   margin: 0;
 }

 img {
   display: block;
 }

 ul,
 ol {
   margin: 0;
   padding: 0;
   list-style-type: none;
 }

 a {
   text-decoration: none;
 }

 button {
   cursor: pointer;
 }

 .title {
   font-weight: 700;
 }

 .text {
   font-weight: 400;
 }

 .visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;

   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }

 .container {
   width: 1158px;
   margin-left: auto;
   margin-right: auto;
   padding: 0 15px;
   align-items: baseline;
 }

 .logo {
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
   font-family: 'Raleway', sans-serif;
 }

 .logo-part {
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.16667;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #2e2f42;
 }

 .header-logo {
   padding: 24px 0;
   margin-right: 76px;
 }

 .page-header {
   border-bottom: 1px solid #e7e9fc;
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
     0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
 }

 .header-container {
   display: flex;
   align-items: center;
 }

 .header-nav {
   display: flex;
   align-items: center;
 }

 .nav-list {
   display: flex;
   align-items: center;
   gap: 40px;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .nav-item {
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .nav-link {
   display: block;
   padding: 24px 0;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .nav-link:hover {
   color: #404bbf;
 }

 .nav-link:focus {
   color: #404bbf;
 }

 .nav-link.current {
   position: relative;
   color: #404bbf;
 }

 .nav-link.current::after {
   position: absolute;
   left: 0;
   bottom: -1px;
   content: '';
   height: 4px;
   width: 100%;
   background-color: #404bbf;
   border-radius: 2px;
 }

 .contacts {
   font-style: normal;
   margin-left: auto;
 }

 .contacts-list {
   display: flex;
   align-items: center;
   gap: 40px;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .contacts-item {
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .contacts-link {
   display: block;
   padding: 24px 0;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .contacts-link:hover {
   color: #404bbf;
 }

 .contacts-link:focus {
   color: #404bbf;
 }

 .hero {
   max-width: 1440px;
   height: 600px;
   margin-left: auto;
   margin-right: auto;
   background-color: #2e2f42;
   padding: 188px 0;
   background-image: linear-gradient(rgba(46, 47, 66, 0.7),
       rgba(46, 47, 66, 0.7)),
     url(../images/people-office.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }

 .hero-title {
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
   letter-spacing: 0.02em;
   color: #ffffff;
   margin-left: auto;
   margin-right: auto;
   max-width: 496px;
   margin-bottom: 48px;
 }

 .hero-button {
   background-color: #4d5ae5;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #ffffff;
   margin-left: auto;
   margin-right: auto;
   display: block;
   min-width: 169px;
   height: 56px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .hero-button:focus {
   background-color: #404bbf;
 }

 .hero-button:hover {
   background-color: #404bbf;
 }

 .advantages {
   padding: 120px 0;
 }

 .advantages-svg {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 112px;
   background-color: #f4f4fd;
   border-radius: 4px;
   border: 1px solid #8e8f99;
   margin-bottom: 8px;
 }

 .advantages-list {
   display: flex;
   gap: 24px;
 }

 .advantages-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
 }

 .advantages-item {
   width: calc((100% - 72px) / 4);
 }

 .advantages-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
 }

 .advantages-sabtitle {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
   margin-bottom: 8px;
 }

 .team {
   background-color: #f4f4fd;
   padding: 120px 0;
 }

 .team-list {
   display: flex;
   gap: 24px;
 }

 .team-item {
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
     0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
 }

 .div-item {
   padding: 32px 0;
 }

 .team-title {
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: #2e2f42;
   margin-bottom: 72px;
 }

 .team-item {
   background-color: #ffffff;
   width: calc((100% - 72px) / 4);
   border-radius: 0px 0px 4px 4px;
 }

 /*.team-div-img {
  padding: 32px 0;
}*/
 .team-sabtitle {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
   margin-bottom: 8px;
   text-align: center;
 }

 .team-text {
   letter-spacing: 0.02em;
   text-align: center;
   margin-bottom: 8px;
 }

 .social-list {
   display: flex;
   justify-content: center;
   gap: 24px;
 }

 .social-list-item {
   width: 40px;
   height: 40px;
 }

 .social-list-link {
   width: 100%;
   height: 100%;
   background-color: #4d5ae5;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .social-list-link:hover {
   background-color: #404bbf;
 }

 .social-list-link:focus {
   background-color: #404bbf;
 }

 .social-list-icon {
   fill: #f4f4fd;
 }

 .portfolio {
   padding-top: 120px;
   padding-bottom: 120px;
 }

 .portfolio-list {
   display: flex;
   flex-wrap: wrap;
   column-gap: 24px;
   row-gap: 48px;
 }

 .portfolio-item {
   width: calc((100% - 48px) / 3);
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
     0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .portfolio-item:hover  {
   transform: translateY(0%);
 }

 .portfolio-container {
  overflow: hidden;
  position: relative;
   width: 1158px;
   margin-left: auto;
   margin-right: auto;
   padding: 0 15px;
   align-items: baseline;
 }

 .portfolio-item {
   position: relative;
   overflow: hidden;
 }

 .portfolio-p {
   position: absolute;
   top: 0;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #f4f4fd;
   padding: 40px 32px;
   background-color: #4d5ae5;
   width: 100%;
   height: 100%;
   transform: translateY(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .div-portfolio {
   padding: 32px 16px;
   border: 1px solid #e7e9fc;
   border-top: none;
 }

 .portfolio-title {
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: #2e2f42;
   margin-bottom: 72px;
 }

 .portfolio-sabtitle {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
   margin-bottom: 8px;
 }

 .portfolio-text {
   letter-spacing: 0.02em;
 }

 .portfolio-text:hover {
   transform: translateY(0%);
 }

 .footer {
   background-color: #2e2f42;
   padding: 100px 0;
 }

 .footer-container {
   display: flex;
   width: 1158px;
   margin-left: auto;
   margin-right: auto;
   padding: 0 15px;
   align-items: baseline;
 }

 .div-footer-logo {
   display: inline-block;
   /*width: 1440px;*/

   margin-right: 120px;
 }

 .footer-logo {
   /*display: inline;*/
   margin-bottom: 16px;
 }

 .footer-logo .logo-part {
   color: #f4f4fd;
 }

 .footer-text {
   color: #f4f4fd;
   letter-spacing: 0.02em;
   max-width: 264px;
 }

 .footer-social-p {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #ffffff;
   margin-bottom: 16px;
 }

 .footer-list {
   display: flex;
   /*justify-content: center;*/
   gap: 16px;
 }

 .footer-item {
   width: 40px;
   height: 40px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .social-footer-link {
   width: 100%;
   height: 100%;
   background-color: #4d5ae5;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .social-footer-link:hover {
   background-color: #31d0aa;
 }

 .social-footer-link:focus {
   background-color: #31d0aa;
 }




 


